---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="このブログの目的"
	description="purpose of blog"
	pubDate={new Date("2023/02/12")}
	updatedDate={new Date("2023/02/12")}
	heroImage="/placeholder-about.jpg"
>
	<p>モデリングの練習用に用意</p>
</Layout>
